<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="common_header(title,style)">
  <meta charset="UTF-8">
  <title th:replace="${title}">레이아웃 타이틀</title>

  <!-- 공통 -->
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  <!-- 추가 -->
<!--  <th:block th:replace="${links}" />-->
  <th:block th:replace="${style}"/>
</head>
<body>
    <div th:fragment="common_button">
      <span sec:authorize="isAuthenticated()" class="headerBtn">
        안녕하세요. <span sec:authentication="name"></span>님
        <form th:action="@{/admin/signout}" method="post">
            <input type="submit" value="Sign Out" th:class="headerBtn"/>
        </form>
  </span>
      <span sec:authorize="isAnonymous()" class="headerBtn">
              <button class="btn btn-primary" th:onclick="|location.href='@{/admin/login}'|" th:text="#{button.login}">로그인</button>
              <button class="btn btn-primary" th:onclick="|location.href='@{/admin/signup}'|" th:text="#{button.signup}">회원가입</button>
      </span>
    </div>
</body>