<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commonLayout :: common_header(~{::title}, ~{::style})">
    <title>Home</title>

    <style>
        .headerBtn {
            position: absolute;
            right: 20px;
            top: 20px;
        }

    </style>

</head>
<body>
  <h1>홈페이지 입니다</h1>
  <span sec:authorize="isAuthenticated()" class="headerBtn">
        안녕하세요. <span sec:authentication="name"></span>님
        <form th:action="@{/admin/signout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
  </span>
  <span sec:authorize="isAnonymous()" class="headerBtn">
        <button class="btn btn-primary" th:onclick="|location.href='@{/admin/login}'|">로그인</button>
        <button class="btn btn-primary" th:onclick="|location.href='@{/admin/signup}'|">회원가입</button>
  </span>
</body>
</html>

