<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body class="m-5">

    <h1>TodoList</h1>
    <form th:action="@{/todo/register}" method="post">
        <input type="hidden" th:value="${uno}" name="uno">
        <input type="hidden" value="1" name="mno">
    <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">내용</label>
            <textarea class="form-control" id="" cols="30" rows="10" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item" th:each="list : ${list}">
            <div>
                <h2 th:if="${listStat.size} == 0" th:text="'할일 목록이 없습니다. 할일을 등록해 주세요'"></h2>
            </div>
            <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                        type="button" data-bs-toggle="collapse"
                        th:attr="data-bs-target='#_'+ ${list.tno}"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                        th:text="${list.title}">
                    Accordion Item #1
                </button>
            </h2>
            <div style="margin: 32px;" data-th-attr="id='_' + ${list.tno}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <span class="accordion-body" th:text="${list.content}">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </span>
                <span style="position: absolute; right: 100px;"><button>삭제</button></span>
            </div>
        </div>
    </div>

</body>

<script>

</script>


</html>