<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.cn.mapper.TodoMapper">
    <insert id="insert">
        insert into todo(
                         title,
                         content,
                         regDate ,
                         endDate,
                         del_yn,
                         mno,
                         uno
                         )
                values (
                        #{title},
                        #{content},
                        now(),
                        #{endDate},
                        'N',
                        #{mno},
                        #{uno}
                       )
    </insert>

    <select id="getList" resultType="com.todo.cn.controller.dto.GetTodoRes">
        select
                title,
                content,
                regDate,
                endDate,
                mno,
                tno

        from todo
        where uno=#{uno} and del_yn='N'

    </select>

    <select id="getBinList" resultType="com.todo.cn.controller.dto.GetTodoRes">
        select
            title,
            content,
            regDate,
            endDate,
            mno,
            tno

        from todo
        where uno=#{uno} and del_yn='Y'
    </select>

    <update id="update" >
        update todo
        set title=#{title},
            content=#{content},
            updateDate=now()
        where tno=#{tno}
    </update>

    <update id="delete">
        update todo set del_yn='Y' where tno=#{tno}
    </update>

    <insert id="insertBin">
        insert into bin(
            title,
            content,
            mno,
            uno,
            tno
        )
        values (
                   #{title},
                   #{content},
                   #{mno},
                   #{uno},
                   #{tno}
               )
    </insert>

    <select id="selectTodo" resultType="com.todo.cn.domain.TodoVO">
        select
            title,
            content,
            mno,
            uno,
            tno

        from todo
        where tno=#{tno}
    </select>

    <select id="todoCnt" resultType="int">
        select count(*) from todo where uno = #{uno} and del_yn = 'N'
    </select>

    <update id="restore">
        update todo set del_yn='N' where tno=#{tno}
    </update>

    <delete id="removeBin">
        delete from bin where tno = #{tno}
    </delete>

</mapper>